body {
    margin: 0;
    font-family: 'barriecito', cursive;
    background-image: url("/food.png");
}

header {
    background-color: turquoise;
    color: #ff6347;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
.circle {
    border-radius: 50%;
    border: 7px solid #ff6347
}

/***** Layout ****/
.container {
    background-color: yellow;
    background-image: url("/food.png");
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min (95%, 75%rem);
}

.container > * {
    grid-column: span 12;
}
 
/* Desktop Layout*/
@media screen and (min-width: 40rem) 
{
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-3 {
        grid-column: span 3;
    }
}
