:root {
    --primary-color: #033f5f; 
    --secondary-color: #007cbc; 
    --neutral-grey: #747e83; 
    --neutral-light:#ffffff;
    --highlight-color: #f5ba36;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    color: var(--neutral-light);
}
h2 {
    font-size: 2rem;
    color: var(--primary-color);
}
h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}
p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey);
}
img {
    max-width: 100%;
}
/****** colors ******/
.blue {background-color: blue;}
.green {background-color: green;}
.purple {background-color: purple;}
.red {background-color: red;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.pink {background-color: violet;}



/****** Layout ******/
.container {
    background-color: crimson;
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
}
.container > * {
    grid-column: span 12;
}

/* Desktop Layout */
@media screen and (min-width: 40rem) { 
   .col-span-4 {
       grid-column: span 4;
   } 
}