:root {
    --primary-color: #ffffff;
    --second-color: black;
    --barely-grey: #f7f7f7;
    --ish-grey: #E3E2E2;
    --highlight-color: #8236f5;
}

* {
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    margin: 0;
}

h1 {
    color: var(--second-color);
    font-size: 60 pt;
    font-weight: bold;
    margin: 0;
}

h2 {
    color: var(--second-color);
    font-size: 50 pt;
    font-weight: bold;
    margin: 0;
}

h3 {
    color: var(--second-color);
    font-size: 35 pt;
    margin: 0;
}

h4 {
    color: var(--second-color);
    font-size: 30;
    margin: 10 pt;
}

img {
    
}

.logo {
    grid-column: 1 / 3;
    margin: 4% 0;
    
    
}

.logo img
{   width: 100%;
    max-width: 400px;
    justify-content: left;
}

.
.navigation-buttons {
    color: var(--second-color);
    font-size: 30;
    margin: 10;
    align-items: center;
    
}


/***** Layout ****/
.container {
    background-color: var(--primary-color);
    display: grid;
    margin: 0 auto;
    gap: 1.5rem;
    width: min(95%, 75rem);
    grid-template-columns: repeat(12, 1fr);
}

.container > * {
    grid-column: span 12;
}

nav {
    background-color: var(--barely-grey);
    padding: 0 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 0;
}
nav ul {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
nav button {
    background-color: var(--second-color);
    color: var(--primary-color);
    font-size: 15pt;
    padding: 10px 20px;
    margin: 1rem 1rem 1rem 3rem;
    border: 2px;
    border-color: var(--second-color);

}
nav li {
    margin: 0 1.5rem;
    color: var(--second-color);
    font-size: 15pt;
}

li a {
    color: var(--second-color);
}

.hero {
    background-color: var(--second-color);
}
.hero button {
    background-color: var(--primary-color);
    color: var(--second-color);
    font-size: 15pt;
    padding: 10px 20px;
    margin: 1rem 1rem 1rem 3rem;
    border: 2px;
    border-color: var(--second-color);
    justify-content: center;
    border-radius: 25px;
}
.subscribe-here {
    background-color: var(--primary-color); 
    color: black; 
    border: 2px solid var(--second-color);
    justify-content: center;
  }
.subscribe-here button {
    background-color: var(--second-color);
    color: var(--primary-color);
    display:flex;
    justify-content: right; 
}
hr { 
    display: block; 
    color:black;
    background-color: black;
    margin: 0.5, 0.5, auto;
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
    height: 5px;
}
footer {
    align-content: center;
    list-style: none;
}

{

}}
}

/*Desktop Layout*/
@media screen and (min-width: 40rem) {

}