/***** Layout ****/
.container {
    background-color: yellow;
    background-image: url("/food.png");
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min (95%, 75%rem);
}

.container > * {
    grid-column: span 12;
}
 
/* Desktop Layout*/
@media screen and (min-width: 40rem) 
{
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
}